.message__input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.message__input > .wrap {
  position: relative;
}
.message__input > .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
  .message__input > .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
.message__input > .wrap input:focus {
  outline: none;
}
.message__input > .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .message__input > .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
.message__input > .wrap .attachment:hover {
  opacity: 1;
}
.message__input > .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  .message__input > .wrap button {
    padding: 16px 0;
  }
}
.message__input > .wrap button:hover {
  background: #435f7a;
}
.message__input > .wrap button:focus {
  outline: none;
}
