.sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  .sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
