@model Identity.CustomIdentityDB.ViewModels.TwoFactorViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">2SV/2FA</h1>
        <p>Please enter your code below</p>
        <form asp-controller="Account" asp-action="TwoFactor" method="POST">
            <div class="form-group">
                <label asp-for="Token" class="col-md-2">Token</label>
                <div class="col-md-12">
                    <input asp-for="Token" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>